.main-footer {
    min-height: 80px;
    background: $black;

    @media only screen and (max-width:1080px) {
        height: 60px;
    }

    .container {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; //centrado vertical
    }

    .logo {
        width: 12vw; // viewport width - porcentaje del ancho del viewport
    }
}